{% extends "baseAdmin.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/styleForm.css')}}">
{% endblock %}
{% block body %}
  <main>
  <h1> Ajout d'une catégorie </h1>
    {{form_start(categorieForm)}}
    {{form_row( categorieForm.Nom)}}
    <button type='submit' class='endLink'> Envoyer </button>
    {{form_end(categorieForm)}}
    <a class="endLink" href="{{ path('app_categories')}}"> Retour </a>
  </main>
{% endblock %}