{% extends "baseAdmin.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/styleAdmin.css')}}">
{% endblock %}
{% block body %}
  <main>
    <h1> Les Catégories </h1>
    <ul>
      {% for categorie in categorieTab %}
        <div class="card">
          <div class="headCard">
            {{categorie.getNom()}}
          </div>
          <div class"contentCard">
            <p> Nombre de photo: {{categorie.getPhotos()|length}} </p>
          </div>
          <div class="action">
            <a href="{{ path('edit_categories',{'id':categorie.getUuid()}) }}"> Modifier </a>
            <a href="{{ path('delete_categorie',{'id':categorie.getUuid()}) }}"> Supprimer </a>
          </div>
        </div>
        
      {% endfor %}
    </ul>
  <a href="{{ path('add_categorie')}}"> Ajouter une catégorie</a>
  <a href="{{ path('app_admin')}}"> Retour </a>

  </main>
{% endblock %}