{% extends "baseAdmin.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/styleAdmin2.css')}}">
{% endblock %}

{% block body %}
  <main>
    <div class="info">
      {% for flash_error in app.flashes('danger') %}
          <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
      {% endfor %}
      {% for flash_succes in app.flashes('success') %}
          <div class="alert alert-success" role="alert">{{ flash_succes }}</div>
      {% endfor %}
    </div>
    <h1> Les Contacts </h1>
    <h2> Non lu </h2>
    <ul>
      {% for contact in contactsNonLu %}
        <div class="listMessage">
          <div class="">
            <h3>Contact de {{contact.getName()}} {{contact.getFirstname()}}</h3>
            <p>le {{contact.afficheSendAt()}} </p>
          </div>
          <div class="actionRead">
            <a href="{{ path('read_contacts',{'id':contact.getId()}) }}"> Voir </a>
          </div>
        </div>
      {% endfor %}
    </ul>
    <h2> lu </h2>
    <ul>
      {% for contact in contactsLu %}
        <div class="listMessage">
        <div>
          <h3>Contact de {{contact.getName()}} {{contact.getFirstname()}} </h3>
          <p>le {{contact.afficheSendAt()}} </p>
        </div>
          <div class="actionRead">
            <a href="{{ path('read_contacts',{'id':contact.getId()}) }}"> Voir </a>
            <a href="{{ path('delete_contact',{'id':contact.getId()}) }}"> Supprimer </a>
          </div>
        </div>
      {% endfor %}
    </ul>
  <a class="endLink" href="{{ path('app_admin')}}"> Retour </a>

  </main>
{% endblock %}