{% extends "baseAdmin.html.twig" %}

{% block body %}
  <main>
  <h1> Lecture d'un contact </h1>
  <h2> Contact de {{contact.getName()}} {{contact.getFirstname()}} </h2>
  <h3> Email : {{contact.getEmail()}} </h3>
  <p> Message : <br> {{contact.getMessage()}} </p>
    
    {% if contact.isIsRead() %}
      <a href="{{ path('isRead_contacts',{'id':contact.getId()}) }}"> Marquez comme non lu </a>
      {% else %}
        <a href="{{ path('isRead_contacts',{'id':contact.getId()}) }}"> Marquez comme vu </a>
    {% endif %}
    <a href="{{ path('delete_contact',{'id':contact.getId()}) }}"> Supprimer </a>
    
  <a href="{{ path('app_contacts')}}"> Retour </a>

  </main>
{% endblock %}