{% extends "baseAdmin.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/styleAdmin.css')}}">
{% endblock %}

{% block body %}
  <main>
    <div class="info">
      {% for flash_error in app.flashes('danger') %}
          <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
      {% endfor %}
      {% for flash_succes in app.flashes('success') %}
          <div class="alert alert-success" role="alert">{{ flash_succes }}</div>
      {% endfor %}
    </div>
    <h1> Les offres </h1>
    <ul>
      {% for offre in offres %}
        <div class="card">
          <div class="headCard">
            <h2>{{offre.getName()}}</h2>
          </div>
          <div class="contentCard">
            <p>Description: {{offre.getDescription()}}<p>
            <p>Prix: {{offre.affichePrix()}}<p>
            <p>Ordre: {{offre.getOrdre()}}<p>
          </div>
          <div class="action">
            <a href="{{ path('edit_offres',{'id':offre.getUuid()}) }}"> Modifier </a>
            <a href="{{ path('delete_offres',{'id':offre.getUuid()}) }}"> Supprimer </a>
          </div>
        </div>
      {% endfor %}
    </ul>

    <a class="endLink" href="{{ path('add_offres')}}"> Ajouter une offre<a>
    <a class="endLink" href="{{ path('app_admin')}}"> Retour </a>
  </main>
{% endblock %}