{% extends "baseAdmin.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('asset/styleAdmin.css')}}">
{% endblock %}
{% block body %}
  <main>
    <h1> Les photos </h1>
    <ul>
      {% for photo in photos %}
        <div class="card">
          <div class="headCard">
            <h2>{{photo.getTitre()}} </h2>
          </div>
          <div class="contentCard">
            <p>type: {{photo.getType}}</p>
            <ul>
              {% for categorie in photo.getCategories %}
                <li>{{categorie.getNom()}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="action">
            <a href="{{ path('delete_photo',{'id':photo.getUuid()}) }}"> Supprimer </a>
          </div>
        </div>
        
      {% endfor %}
    </ul>
  <a href="{{ path('add_photo')}}"> Ajouter une photo </a>
  <a href="{{ path('app_admin')}}"> Retour </a>

  </main>
{% endblock %}